*, *::before, *::after {
  margin: 0;
  padding: 0;
  caret-color: transparent;
  box-sizing: inherit;
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}

body {
  box-sizing: border-box;
  background-color: #111;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.stopwatch-display {
  color: #fff;
  letter-spacing: 1rem;
  font-size: 1rem;
  font-size: 60px;
  font-weight: bold;
  padding: 10px;
}

.stopwatch-actions {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.stopwatch-actions button {
  padding: 8px 15px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  border: 1px groove #fff;
  cursor: pointer;
}

.stopwatch-actions button:active {
  background-color: rgb(150, 147, 147);
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(-4px);
}

